/* INDEX */
.navbar-tema {
    background-color: #006600;
    font-size: 26px;
}

.navbar-cor {
    color: white;
}

#banner-index {
    width: 100%;
    height: 350px;
}

.anime {
    opacity: 0;
    transform: translate3d(-100px,0,0);
    transition: .3s;
}

.anime-start {
    opacity: 1;
    transform: translate3d(0,0,0);
}

#sobre-fonte {
    font-family: 'Varela Round', sans-serif;
    font-size: 40px;
}

.container-sobre-1 {
    width: 100%;
}

#trinta-imagem {
    float: right;
    height: 80px;
    margin-left: 30px;
}

#partner-vector {
    float: left;
    height: 80px;
    margin-right: 20px;
}

#fonte-segmentos {
    font-family: 'Varela Round', sans-serif;
    color: #008000;
}

#logo-ypf {
    width: 200px;
    float: left;
}

#logo-china {
    width: 200px;
    float: left;
}

#logo-qci {
    width: 200px;
    float: left;
}

#missao-fonte {
    font-size: 50px;
    color: green;
    font-family: 'Varela Round', sans-serif;
}

#imagem-distribuidor {
    width: 50%;
    height: 250px;
}

#imagem-qualidade {
    display: inline-block;
    position: relative;
}

#texto-qualidade {
    position: absolute;
    top: 170px;
    left: 150px;
    font-size: 40px;
    color: white;
    text-shadow: 0px 0px 5px black;
    background-color: black;
    opacity: 0.8;
    padding: 5px;
}

#banner-qualidade {
    width: 100%;
    height: 300px;
}

#logo-iso {
    width: 200px;
}

.cor-bg-footer {
    background-color: #003300;
}

/* EMPRESA */
#bg-imagem {
    background-image: url(img/bg-empresa.jpg);
    background-size: cover;
}

.tamanho-carrosel {
    width: 40%;
    height: auto;
    float: right;
}

#logo-gap {
    width: 30%;
    margin: 3% 10%;
    border-radius: 10px;
}

/* PRODUTOS: */
.carrosel-produtos {
    height: 400px;
    width: 100%;
    object-fit: cover;
    
}

.titulo-produtos {
    position: absolute;
    bottom: 150px;
    background-color: black;
    color: white;
    opacity: 0.5;
}

/* Configuração imagens dos produtos */
.alimentos-size {
    width: 100%;
    height: 200px;
    border-right: solid 5px green;
    box-shadow: 0 8px 6px -6px black;
}

.imagem-cover {
    object-fit: cover;
}

@media only screen and (max-width: 1123px) {
    #banner-index {
        height: 500px;
        width: 100%
    }
    #mapa-contato {
        width: 300px;
    }
    #texto-qualidade {
        position: absolute;
        top: 170px;
        left: 80px;
        font-size: 26px;
        color: white;
        text-shadow: 0px 0px 5px black;
        background-color: black;
        opacity: 0.8;
        padding: 5px;
    }
    .alimentos-size {
        width: 100%;
        
    }
    .padding-conteudo {
        margin-left: 80px;
    }
}